<div class="game">
  <p>
    <%= f.hidden_field :id %>
    
    <%= label_tag :game_in_set, "Game Number in Set" %>
    <%= f.text_field :game_in_set %>
      
    <%= label_tag :score, "Score:" %>
    <%= f.text_field :score %>
    
    <%= label_tag :opponent_score, "Opponent Score:" %>
    <%= f.text_field :opponent_score %>
  </p>
</div>