  <h2><%= @game_set.team.name %> <span class="blue">vs. <%= @game_set.opponent.name %></span></h2>
  
  <% form_for [@game_set.team, @game_set] do |f| %>
  <div class="box">
    <h3>Edit Game Set</h3></div>
    <div class="body">
        <p><%= f.label :team %><%= collection_select("game_set", "team_id", @game_set.league.teams, :id, :display_name, {},{:id => 'team_select'}) %></p>
        <p><%= f.label :opponent %><%= collection_select("game_set", "opponent_id", @game_set.league.teams, :id, :display_name, {},{:id => 'team_select'}) %></p>
        <p><%= f.label :date %><%= date_select("game_set", "time")%></p>
      <br/>
      <div id="games">
        <%= @game_set.team.name %> vs. <%= @game_set.opponent.name %>
        <% @game_set.games.each do |game| %>
          <p>Game <%= game.game_in_set %>
          <% if game.score %>
            (<%= game.score %>-<%= game.opponent_score %>)
          <% else %>
            (no scores)
          <% end %>
          <%= link_to 'Edit Game', edit_game_set_game_path(@game_set, game) %></p>
        <% end %>
        <%= link_to 'Add Game', new_game_set_game_path(@game_set) %>
      </div>
    </div>
  <input type="submit" value="Update"/> <%= link_to "Cancel", @game_set %>
  <% end %>