<%= form_for(@game_set) do |f| %>
  <% if @game_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_set.errors.count, "error") %> prohibited this game_set from being saved:</h2>

      <ul>
      <% @game_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :league_id %><br />
    <%= f.text_field :league_id %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br />
    <%= f.text_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :opponent_id %><br />
    <%= f.text_field :opponent_id %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
