<h1>Listing game_sets</h1>

<table>
  <tr>
    <th>League</th>
    <th>Team</th>
    <th>Opponent</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @game_sets.each do |game_set| %>
  <tr>
    <td><%= game_set.league_id %></td>
    <td><%= game_set.team_id %></td>
    <td><%= game_set.opponent_id %></td>
    <td><%= game_set.time %></td>
    <td><%= link_to 'Show', game_set %></td>
    <td><%= link_to 'Edit', edit_game_set_path(game_set) %></td>
    <td><%= link_to 'Destroy', game_set, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game set', new_game_set_path %>
