<div class="box">
  <h3>Organization - <%= @organization.name %> <%=raw admin_links(nil, @organization) %></h3>
</div>
<div class="body">
  <p><%= label :name, 'Name' %><%= @organization.name %></p>
  <p><%= label :user, 'Owner' %><%= @organization.owner.name %></p>
</div>
<div class="box">
  <h3>Leagues</h3>
</div>
<div class="body">
<%= render :partial => 'leagues/leagues', :locals => {:leagues => @organization.leagues} %>
<%- permitted_to? :create, League.new do -%>
  <p><%= link_to 'New League', new_organization_league_path(@organization) %></p>
<%- end -%>
</div>
<%= link_to 'All Organizations', organizations_path %>